/************* GENERAL **************/
:root{
	--blue: rgb(43, 104, 128);
	--orange: rgb(236, 105, 29);
}

/*font*/
@font-face{
	font-family: miller;
	src: url(./font/Miller-Regular.otf);
}
@font-face{
	font-family: lato thin;
	src:url(./font/lato-light-webfont.woff2);
}
@font-face{
	font-family: lato regular;
	src: url(./font/Lato-Regular.ttf);
}

/*Géneral Box*/
*{
	box-sizing: border-box;
	padding-top: none;
    padding-bottom: none;
    margin:0;
	padding:0;
	
}

/************* BIG PARTS **************/
footer, header{
    background-color:var(--blue);
	color: white;
	font-family: lato thin;
	border-radius: 2em 0.5em;
	height:5em;
	display: flex;
	justify-content: center;
	align-items: center;
}

body{
	background-color: rgb(255, 255, 255);
	font-family: arial;
	text-align: center;
   	margin-left: 15em;
    margin-right: 15em;
}

/************* MENU **************/
#menu{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	
}

ul{
	list-style: none;
	
}

li{
	
	padding: 0.5em;
}

a{
    text-decoration: none;
	color: white;
	
}

a:hover{
	color: rgb(236, 105, 29);
	
}

/************* ABOUT US **************/
main{
	border: 2px solid var(--orange);
	border-radius: 2em 0.5em;
	margin-top : 3em;
	margin-bottom : 3em;
	padding : 1em;
	display: flex;
	flex-direction: column;
	font-family: lato regular;

}
h1{
	color: rgb(236, 105, 29);
	margin-top: -1.8em;
	text-align: left;
	font-family: miller;
	

}

/************* TEAM JAVACREEP **************/
#top-banner{
	margin-top:1em;
}
h2{
	font-family: miller;
	font-size: 5em;
	color: var(--blue);
}
#info{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	flex-wrap: wrap;
}

/* Each member container*/
section{
	display: flex;
	flex-direction: column;
	margin-right: 2em;
	margin-left: 2em;
	text-align: left;
	
}
#member{
	margin-top: 0.5em;
	color: var(--orange);
	font-family: miller;
	font-size: 2em;
}

/*list passions*/
.passionList{
	list-style-type:disc;
}

#passion{
	list-style-type: circle;
}



